{% extends 'base.html' %}
{% block script %}
<script src="{{ url_for('static', filename='jquery-3.3.1.min.js') }}"></script>


{% endblock %}

{% block content %}
    <h1>漢字練習アプリ</h1>
    <form method="post">
        <label for="kanjitext">漢字を入力</label>
        <input name="kanjitext" value="{{kanji}}" size="20">
        <input type="submit" value="練習">
    </form>
    <div>
        <span id="kanjiarea" class="kanjiarea">
                {{kanji}}   
        </span>  
        <canvas id="drawing" width="400" height="400">
        </canvas>
    </div>
    
    
    <form method="post" action="{{ url_for('draw.save')}}" class="newform">
        描画データを保存します
        <input type="hidden" id="kanji" name="kanji" value="{{kanji}}">
        <textarea id="jsondata" name="jsondata"></textarea>
        <input type="submit" value="保存">
    </form>
    <script src="{{ url_for('static', filename='draw.js') }}"></script>

{% endblock %}